<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="default_notification_channel_id" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- camera-x -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ThirdPartyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThirdPartyLibraryDependencies"
        tools:targetApi="32">
        <activity
            android:name=".rx_java.RxJavaSimpleActivity"
            android:exported="false" />
        <activity
            android:name=".courier.CourierSampleActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.CoroutinesChannelActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.CoroutinesContextActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.JobActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.RunBlockingActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.MultiThread"
            android:exported="false" />
        <activity
            android:name=".multithreading.HelloWorldMultiThread"
            android:exported="false" />
        <activity
            android:name=".multithreading.CounterMultiThread"
            android:exported="false" />
        <activity
            android:name=".camera_x.CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".segment.SegmentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".pendo.PendoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".firebase.analytics.AnalyticsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".firebase.crashlytics.CrashlyticsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".firebase.FirebaseActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".firebase.fcm_push_notification.FcmPushNotificationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="clicked" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".rx_java.RxJavaActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.authenticate.FirebaseAuthenticate"
            android:exported="false" />
        <activity
            android:name=".apis.rest.retrofit_java.RestRetroJavaActivity"
            android:exported="false" />
        <activity
            android:name=".apis.graphql_apollo.ApolloActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.singleton_injection.SingletonActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.abstract_injection.AbstractInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.field_injected_class.FieldInjectedClassActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.method_injection.MethodInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.interface_injection.InterfaceInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".di.DiActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.field.FieldInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.simple_di.SimpleDiActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.CoroutineFakeApiActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.constructor.ConstructorInjectActivity"
            android:exported="false" />
        <activity
            android:name=".multithreading.coroutines.CoroutineProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".apis.graphql_retrofit.GraphQLActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdPartyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".google_map.GoogleMapActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
         <service
         android:name=".firebase.fcm_push_notification.MyFirebaseMessagingService"
         android:directBootAware="true"
         android:exported="false">
         <intent-filter>
         <action android:name="com.google.firebase.MESSAGING_EVENT" />
         </intent-filter>
         </service>
<!--        <service-->
<!--            android:name=".courier.CourierNotificationService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <service android:name=".firebase.fcm_push_notification.services.ServiceUpper26" />
        <service android:name=".firebase.fcm_push_notification.services.ServiceLower26" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="R.string.default_notification_channel_id" />
    </application>

</manifest>