<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alidoran.thirdpartylibrarydependencies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThirdPartyLibraryDependencies"
        tools:targetApi="32">
        <activity
            android:name="alidoran.di.singleton_injection.SingletonActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.abstract_injection.AbstractInjectionActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.field_injected_class.FieldInjectedClassActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.method_injection.MethodInjectionActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.interface_injection.InterfaceInjectionActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.DiActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.field.FieldInjectionActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.simple_di.SimpleDiActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.coroutines.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.coroutines.CoroutineFakeApiActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.di.constructor.ConstructorInjectActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.coroutines.CoroutineProgressBarActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.apis.graphql_retrofit.GraphQLActivity"
            android:exported="false" />
        <activity
            android:name="alidoran.ThirdPartyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>