<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".webview.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".network.InternetActivity"
            android:exported="false" />
        <activity
            android:name=".biometric.BiometricActivity"
            android:exported="false" />
        <activity
            android:name=".compose.advance.ComposeAdvanceActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_vmactivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".location.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".compose.developer_android_samples.courses.c2.M3ThemesActivity"
            android:exported="false"
            android:label="@string/title_activity_m3_themes"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c2.DeepToGridActivity"
            android:exported="false"
            android:label="@string/title_activity_deep_to_grid"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c2.DeepToLazyActivity"
            android:exported="false"
            android:label="@string/title_activity_deep_to_lazy"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.CustomAnnotationActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_annotation"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.TaskListActivity"
            android:exported="false"
            android:label="@string/title_activity_task_list"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.StateHostingActivity"
            android:exported="false"
            android:label="@string/title_activity_water_counter"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.advance.SimpleNavigation"
            android:exported="false"
            android:label="@string/title_activity_advanced_compose"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.CodeLabBasicLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_codelab_basic_layout"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.ScaffoldActivity"
            android:exported="false"
            android:label="@string/title_activity_scaffold"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.FirstCourseAnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_first_course_animation"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.courses.c1.FirstCourseActivity"
            android:exported="false"
            android:label="@string/title_activity_first_cource"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.developer_android_samples.DeveloperAndroidActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ComposeLearnActivity"
            android:exported="false" />
        <activity
            android:name=".compose.developer_android_samples.tutorial.FourthActivity"
            android:exported="false" />
        <activity
            android:name=".compose.developer_android_samples.tutorial.FirstTillThreeActivity"
            android:exported="false" />
        <activity
            android:name=".worker.WorkerActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin_flow.KotlinFlowActivity"
            android:exported="false" />
        <activity
            android:name=".mvi.basic_mvi.view.MviActivity"
            android:exported="false" />
        <activity
            android:name=".permissions.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".intents.IntentsActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.MvpActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.base_mvp.view.MvpByBaseActivity"
            android:exported="false" />
        <activity
            android:name=".add_dynamic_view.DynamicViewActivity"
            android:exported="false" />
        <activity
            android:name=".compose.elementary.MultipleViewActivity"
            android:exported="false"
            android:label="@string/title_activity_multiple_view"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose01Activity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose02Modifier"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose03Button"
            android:exported="false"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose04IMageView"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose05StylingText"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose06ColorBox"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose07TextButtonSnackBars"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose08List"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.Compose09ConstraintLayout"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.elementary.FunctionActivity"
            android:exported="false"
            android:label="@string/title_activity_function"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".dialog.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".file_picker.FilePickerActivity"
            android:exported="false" />
        <activity
            android:name=".save_state_handle.SavedStateHandleActivity"
            android:exported="false" />
        <activity
            android:name=".activity_result_launcher.ActivityResultLauncherDest"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity_result_launcher.ResultLauncherSourceActivity"
            android:exported="false" />
        <activity
            android:name=".navigation_safe_args.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.simple_mvp.view.SimpleMvpActivity"
            android:exported="false" />
        <activity
            android:name=".socket.SocketActivity"
            android:exported="false" />
        <activity
            android:name=".binding.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name=".binding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".room.activity.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".room.activity.LoadDataActivity"
            android:exported="false" />
        <activity
            android:name=".room.activity.SaveDataActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm_livedata.view.MvvmMainActivity"
            android:exported="false" />
        <activity
            android:name=".view_to_model.ViewToModelActivity"
            android:exported="false" />
        <activity
            android:name=".shared_preference.SharedPreferenceActivity"
            android:exported="false" /> <!-- Services -->
        <service android:name=".services.BackgroundServiceSample" />
        <service android:name=".services.ForegroundServiceSample" />
        <service android:name=".services.ScreenOnOffService" />
        <service android:name=".services.TrampolineService" /> <!-- Broadcasts -->
        <receiver android:name=".broadcast.BroadcastOnOffReceiver" /> <!-- <receiver -->
        <!-- android:name=".broadcast.BroadcastReceiverSample" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> &lt;!&ndash; Activities &ndash;&gt; -->
        <activity
            android:name=".AndroidActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_sheet.BottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".Backlight_light_change.BackLightChangeActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".paging_view.PagingRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.slider.ViewPagerSliderActivity"
            android:exported="false" />
        <activity
            android:name=".recycler_view.RecyclerActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>