<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android">
        <activity
            android:name=".kotlin_flow.KotlinFlowActivity"
            android:exported="false" />
        <activity
            android:name=".mvi.basic_mvi.view.MviActivity"
            android:exported="false" />
        <activity
            android:name=".permissions.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".intents.IntentsActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.MvpActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.base_mvp.view.MvpByBaseActivity"
            android:exported="false" />
        <activity
            android:name=".add_dynamic_view.DynamicViewActivity"
            android:exported="false" />
        <activity
            android:name=".compose.MultipleViewActivity"
            android:exported="false"
            android:label="@string/title_activity_multiple_view"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose01Activity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose02Modifier"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose03Button"
            android:exported="false"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose04IMageView"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose05StylingText"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose06ColorBox"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose07TextButtonSnackBars"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose08List"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.Compose09ConstraintLayout"
            android:exported="true"
            android:label="@string/title_activity_components"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".compose.FunctionActivity"
            android:exported="false"
            android:label="@string/title_activity_function"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".dialog.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".file_picker.FilePickerActivity"
            android:exported="false" />
        <activity
            android:name=".save_state_handle.SavedStateHandleActivity"
            android:exported="false" />
        <activity
            android:name=".activity_result_launcher.ActivityResultLauncherDest"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity_result_launcher.ResultLauncherSourceActivity"
            android:exported="false" />
        <activity
            android:name=".navigation_safe_args.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.simple_mvp.view.SimpleMvpActivity"
            android:exported="false" />
        <activity
            android:name=".socket.SocketActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="android.compose.ComposeActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_compose" -->
        <!-- android:theme="@style/Theme.Android" /> -->
        <activity
            android:name=".binding.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name=".binding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".room.activity.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".room.activity.LoadDataActivity"
            android:exported="false" />
        <activity
            android:name=".room.activity.SaveDataActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm_livedata.view.MvvmMainActivity"
            android:exported="false" />
        <activity
            android:name=".view_to_model.ViewToModelActivity"
            android:exported="false" />
        <activity
            android:name=".shared_preference.SharedPreferenceActivity"
            android:exported="false" /> <!-- Services -->
        <service android:name=".services.BackgroundServiceSample" />
        <service android:name=".services.ForegroundServiceSample" />
        <service android:name=".services.ScreenOnOffService" />
        <service android:name=".services.TrampolineService" /> <!-- Broadcasts -->
        <receiver android:name=".broadcast.BroadcastOnOffReceiver" /> <!-- <receiver -->
        <!-- android:name=".broadcast.BroadcastReceiverSample" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> &lt;!&ndash; Activities &ndash;&gt; -->
        <activity
            android:name=".AndroidActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_sheet.BottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".Backlight_light_change.BackLightChangeActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".paging_view.PagingRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPagerSliderActivity"
            android:exported="false" />
        <activity
            android:name=".recycler_view.RecyclerActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>